.usersListContainer {
  text-align: center;
}

.title {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 0px;
}

.usersTable {
  margin: auto;
  & thead {
    background-color: #333333;
    color: #ffffff;
  }
  & tr {
    & > * {
      width: 205px;
      padding: 15px 10px;
      text-wrap: nowrap;
    }
  }
  & tbody tr:nth-child(even) {
    background-color: #c7c7c7;
  }
  & tbody tr:nth-child(odd) {
    background-color: #a5a4a4;
  }
  & tbody tr {
    &:hover {
      background-color: #ebebeb;
    }
  }
}
